input[type="checkbox"].checkbox {
  display: none;
}
.customCheckbox {
  display: flex;
  border-radius: 3px;
  height: 16px;
  width: 16px;
  background: url("../../assets/checkbox-inactive.svg");
}

input[type="checkbox"]:checked + .customCheckbox.active {
  border: none;
  background: url("../../assets/checkbox-active.svg");
}

input[type="checkbox"]:checked + .customCheckbox.indeterminate {
  border: none;
  background: url("../../assets/checkbox-indeterminate.svg");
}
