.mainWrapper {
  margin: 60px 0;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 155px;
  max-height: 756px;
  overflow: auto;
}

.tableContainer::-webkit-scrollbar {
  width: 0px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.tableContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.table {
  width: 100%;
  max-width: 1110px;
  border-collapse: collapse;
}

tbody {
  max-height: 736px;
}

.paginationWrapper {
  padding: 0 156px;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3) {
  width: 25%;
}

tbody::-webkit-scrollbar {
  width: 0px;
}

tbody::-webkit-scrollbar-thumb {
  background-color: transparent;
}

tbody::-webkit-scrollbar-track {
  background-color: transparent;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
