.pageSizeDropdown {
  position: relative;
  width: 47px;
  height: 24px;
  margin-left: 16px;
}

.selectedPageSize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--Shade-6);
  background: var(--Shade-8);
  padding: 0 8px;
  cursor: pointer;
  color: var(--Shade-3);
}

.arrow {
  margin-left: 3px;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: -500%;
  background-color: var(--Shade-8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
}

.dropdownOption {
  cursor: pointer;
  width: 126px;
  height: 40px;
  display: flex;
  align-items: center;
}

.dropdownOption:hover {
  background-color: var(--Shade-7);
}

.dropdownItem {
  padding-left: 16px;
}

.show .dropdownContent {
  display: block;
}
